html {
  box-sizing: border-box;
}

body {
  font-family: Monaco, Consolas, monospace;
  font-size: 1em;
  height: 100vh;
  width:  100vw;
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

menu {
  display: block;
  flex-direction: column;
  bottom: 0;
  left: 0;
  position: absolute;
}

a {
  color: tomato;
  text-decoration: none;
}

.button {
  display: inline-block;
  background: #fff4f4;
  color: tomato;
  cursor: pointer;
  border: 2px solid  tomato;
  border-radius: 4px;
  font-family: inherit;
  font-size: 80%;
  margin: 4px;
  padding: 8px;
  opacity: 0.85;
}

.copyright {
  color: #010e21;
  background-color: tomato;
  margin: 4px;
  padding: 4px 8px;
  display: block;
  width: max-content;
  font-family: inherit;
  font-size: 80%;
  border-radius: 4px;
  opacity: 0.85;
}