html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  background-image:
  url('../images/berry.png'),
  url('../images/flowers.png'),
  url('../images/peony.png'),
  url('../images/grapefruit.png'),
  url('../images/avocado.png'),
  url('../images/pomelo.png'),
  url('../images/cuke.png'),
  url('../images/tangerine.png');
  padding: 0;
  margin: 0;
  height: 100%;
}
